@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Учет заказов</title>
    <script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kurale&family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <dev class="content">
            <nav class="nav">
                <div class="container">
                    <div class="nav__row">
                        <div class="nav__logo">
                            <a asp-controller="Home" asp-action="Index">Бюро переводов</a>
                        </div>
                        <div class="nav__statistic">
                            <a asp-area="" asp-controller="Home" asp-action="Statistic">Статистика</a>
                        </div>

                        <div class="nav__user">Добро пожаловать: @User.Identity.Name</div>


                        <div class="nav__logout">
                            <a asp-action="Logout" asp-controller="Account" id="logout">Выйти из программы</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <main role="main">
                    @RenderBody()
                </main>
            </div>


    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__row">
                <div class="foter__text">Создано Шихов Р.В. 2021</div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
