@model Learn_web.Models.Order


        
            <div class="col-sm-2 hide" style="color: black;">
                @Html.DisplayNameFor(model => model.id) @Model.id</div>
            <div class="col-sm-2" style="color: black;"> 
                @Html.DisplayNameFor(model => model.dateOrder): @Model.dateOrder</div>
            


    
