@model Learn_web.ViewModels.LoginModel

@{
    ViewData["Title"] = "Проверка пользователя";
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body class="text-center">
    <div class="center-login">
        <h2>Вход на сайт</h2>

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="row mb-auto">
                @*<label asp-for="User" for="inputEmail3" class="col-sm-2 col-form-label">Имя пользователя:</label>*@
                <div class="col-sm-10">
                    <input asp-for="User" type="text" class="form-control" id="inputEmail3" placeholder="Имя пользователя:">
                </div>
            </div>
            <br />
            <div class="row mb-auto">
                @*<label asp-for="Password" for="inputPassword3" class="col-sm-2 col-form-label">Пароль:</label>*@
                <div class="col-sm-10">
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword3" placeholder="Пароль">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
</body>

