@model Learn_web.ViewModels.LoginModel

<h2>Вход на сайт</h2>


@*<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="User">Введите имя пользователя</label>
            <input type="text" asp-for="User" />
            <span asp-validation-for="User" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>*@

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="row mb-3">
        <label asp-for="User" for="inputEmail3" class="col-sm-2 col-form-label">Имя пользователя</label>
        <div class="col-sm-10">
            <input asp-for="User" type="text" class="form-control" id="inputEmail3">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Password" for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input asp-for="Password" type="password" class="form-control" id="inputPassword3">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>