@model Learn_web.Models.Order

@{
    ViewData["Title"] = "Обновить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Обновить</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="dateOrder" class="control-label"></label>
               
                <input asp-for="dateOrder" class="form-control" />
                <span asp-validation-for="dateOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientData" class="control-label"></label>
                <textarea asp-for="clientData" class="form-control"></textarea>
                <span asp-validation-for="clientData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="originalLanguage" class="control-label"></label>
                <input asp-for="originalLanguage" class="form-control" />
                <span asp-validation-for="originalLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="translateLanguage" class="control-label"></label>
                <input asp-for="translateLanguage" class="form-control" />
                <span asp-validation-for="translateLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costOfWork" class="control-label"></label>
                <input asp-for="costOfWork" class="form-control" />
                <span asp-validation-for="costOfWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costOfTranslationServices" class="control-label"></label>
                <input asp-for="costOfTranslationServices" class="form-control" />
                <span asp-validation-for="costOfTranslationServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Translator" class="control-label"></label>
                <input asp-for="Translator" class="form-control" />
                <span asp-validation-for="Translator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
