/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   background: rgba(44, 44, 44, 0.93);
    background-size: cover;
   
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    margin: 15px;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px 0px;
}

dl dt, dd{
    font-size: 14px;
    padding: 10px;
}

a {
    color: white;
}

    a:hover {
        color: white;
    }



.container {
    max-width: 1300px;
    margin: 0 auto;
    /*overflow: auto;*/
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    /*flex: 1 1 auto;*/
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    
}

#table1 {
    font-family: 'Jura', sans-serif;
    color: white;
    /*overflow: auto;*/
}

    #table1 tr:hover {
        background: -moz-linear-gradient(-45deg, rgba(110,119,116,0.2) 0%, rgba(110,119,116,0.34) 23%, rgba(10,14,10,0.58) 63%, rgba(10,8,9,0.8) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(110,119,116,0.2) 0%,rgba(110,119,116,0.34) 23%,rgba(10,14,10,0.58) 63%,rgba(10,8,9,0.8) 100%);
        background: linear-gradient(135deg, rgba(110,119,116,0.2) 0%,rgba(110,119,116,0.34) 23%,rgba(10,14,10,0.58) 63%,rgba(10,8,9,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336e7774', endColorstr='#cc0a0809',GradientType=1 );
        color: white
    }

.nav {
    background: #323233;
    padding: 20px 20px;
}

.nav__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.nav__logo {
    /*border: 1px solid white;*/
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 0px 10px;
    margin: 5px 0px;
    transition-duration: 0.7s;
}


    .nav__logo:hover {
        transform: scale3d(1.1, 1.1, 1.1);
    }

.nav__statistic {
    /*border: 1px solid white;*/
    font-family: 'Kurale', serif;
    font-size: 18px;
    padding: 0px 10px;
    flex-grow: 1;
    margin: 5px 0px;
    
}

    .nav__statistic a {
        transition-duration: 0.7s;
    }

        .nav__statistic a:hover {
            background:white;
            color: black;
            padding:3px;
            
        }

    .nav__user {
        /*border: 1px solid white;*/
        font-family: 'Kurale', serif;
        font-size: 18px;
        padding: 0px 10px;
        color: white;
        text-align: start;
        margin: 5px 0px;
    }

.nav__logout {
    /*border: 1px solid white;*/
    font-family: 'Kurale', serif;
    font-size: 18px;
    padding: 10px 10px;
    text-align: start;
    margin: 5px 0px;
    transition-duration: 0.7s;
}

.nav__logout a{
    transition-duration: 0.7s;
}

    .nav__logout:hover {
        background: white;
    }

    .nav__logout:hover  a{
        color: black;
    }

.table {
    color: white;
}

.scroll-table {
    overflow-x: auto;
    color: white;
}

.footer {
    background: #f2f5ff;
    margin-top:30px;
}

.footer__row {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.foter__text {
    color: black;
    font-family: 'Kurale', serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
