
/*#weather{
    border:2px solid #000000;
    width:200px;
   
}

.getWeather{
    background-image:url("../images/weather_icons_dovora_interactive/PNG/128/day_clear.png");
    width:150px;
}
*/
.text-center {
    font-family: 'Inter', sans-serif;
    box-shadow:3px 3px 5px #808080;

}